#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

.display-title {
  font-family: var(--primary-font-family);
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-size: 64px;
}

.leading-text {
  font-family: var(--secondary-font-family);
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 64px;
}

.subtitle {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

.highlights-text {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--secondary-font-family);
}

.error-text {
  color: red;
}

p,
.paragraph-text {
  font-size: 16px;
  font-weight: normal;
  font-family: var(--secondary-font-family);
}

button,
.button {
  padding: 10px 24px;
  border-radius: 5px;
  background-color: var(--primary-color-yellow);
  color: var(--primary-color-green);
  font-family: var(--secondary-font-family);
  text-decoration: none;
  font-size: 18px;
  border: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover,
.button:not(:disabled):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

button.secondary,
.button.secondary {
  background-color: var(--primary-color-green);
  color: var(--primary-color-yellow);
}

input,
select {
  border-radius: 8px;
  padding: 8px;
  border-width: 2px;
  border-color: var(--primary-color-green);
  border-style: solid;
  transition: border-color 0.3s ease-in-out;
  font-size: 24px;
  font-family: var(--secondary-font-family);
  width: 100%;
  max-width: 250px;
}

input.error,
select.error {
  border-color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
