.about-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.about-images img {
  width: 100%;
  height: auto;
}

.about-images img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
