.navbar-toggle-btn {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbar {
  background-color: #fff;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-item a {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  color: #000;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.navbar-item .active {
  color: var(--primary-color-green);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .navbar {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar.open {
    max-height: 300px;
  }

  .navbar-list {
    flex-direction: column;
    gap: 10px;
    padding: 16px 0;
  }

  .navbar-toggle-btn {
    display: block;
  }
}
