.footer {
  background-color: var(--primary-color-green);
  color: #fff;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 24px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-nav a,
.footer-contact a {
  color: #fff;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 2rem;
  text-align: center;
}

.footer-social ul {
  display: flex;
  gap: 8px;
}
.footer-social a {
  color: #fff;
}
.footer-social svg {
  width: 24px;
  height: 24px;
}
