:root {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-font-family: "Markazi Text", Helvetica, Arial, sans-serif;
  --secondary-font-family: "Karla", Helvetica, Arial, sans-serif;

  --primary-color-green: #495e57;
  --primary-color-yellow: #f4ce14;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
